<div class="col-sm-4">
    <input class="form-control" id="ex2" type="text" placeholder="Filter po Godini (unesi godinu objave filma)" ng-model="godina" ng-blur="getMoviesByYear(godina)">
</div>
<div class="col-sm-4">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Zanrovi
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="genre in genres"><a ng-click="getMovieByGenre(genre.id)">{{genre.name}}</a></li>
        </ul>
    </div>
</div>
</div>
<div class="col-sm-4">
    <input class="form-control" id="ex2" type="text" placeholder="pretraga po imenu" ng-model="pretraga" ng-blur="getMoviesByKeyword(pretraga)">
</div>
<div class="container listaSerija">
    <div class="col-sm-4 lista" ng-repeat="film in najpopularniji">
        <h4>{{film.original_title}}</h4>
        <img width="100%" ng-src="{{slikaURL}}{{film.poster_path}}">
        <h4 class="datumObjave">{{film.release_date}}</h4><span class="brojLajkova">{{film.vote_count}}<img src="app/assets/img/like.png" alt=""></span>
    </div>
</div>
